html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-attachment: fixed;
    margin: 0;
    background: black;
    overflow-x: hidden;
    width: 100dvw;
    padding-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
loader {
    display: flex;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
.circly {
    position: absolute;
    z-index: 3;
    width: 10vh;
    height: 10vh;
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid rgb(50,225,225);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#canvas {
    position: fixed;
    z-index: -1;
}
#name {
    position: fixed;
    z-index: 1;
}
.logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.wing {
    width: 6vh;
    height: 12vh;
}
#wingLeft {
    animation: left 3s infinite ease-in-out;
    transform-origin: center right;
}
#wingRight {
    animation: right 3s infinite ease-in-out;  
    transform-origin: center left;
}
@keyframes left {
    0% {
        transform: perspective(1000px) rotateY(0);
    }
    20% {
        transform: perspective(1000px) rotateY(60deg);
    }
    40% {
        transform: perspective(1000px) rotateY(0);
    }
    100% {
        transform: perspective(1000px) rotateY(0);
    }
}
@keyframes right {
    0% {
        transform: perspective(1000px) rotateY(0);
    }
    20% {
        transform: perspective(1000px) rotateY(-60deg);
    }
    40% {
        transform: perspective(1000px) rotateY(0);
    }
    100% {
        transform: perspective(1000px) rotateY(0);
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 8vh;
    background-color: transparent;
    border: 0.6vh rgb(50, 50, 50) solid;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 1s;
}
h1 {
    font-family: "IBM Plex Mono";
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 4vh;
    margin: 0;
    cursor: pointer;
}
.button:hover {
    border: 0.6vh rgb(120, 120, 120) solid;
    transition: all 1s;
}