html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-attachment: fixed;
    margin: 0;
    background: black;
    overflow-x: hidden;
    width: 100dvw;
    padding-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
loader {
    display: flex;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
.circly {
    position: absolute;
    z-index: 3;
    width: 10vh;
    height: 10vh;
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid rgb(50,225,225);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#canvas {
    position: fixed;
    z-index: -1;
}
#name {
    position: absolute;
    z-index: 1;
}
.logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.wing {
    width: 6vh;
    height: 12vh;
}
#wingLeft {
    animation: left 3s infinite ease-in-out;
    transform-origin: center right;
}
#wingRight {
    animation: right 3s infinite ease-in-out;  
    transform-origin: center left;
}
@keyframes left {
    0% {
        transform: perspective(1000px) rotateY(0);
    }
    20% {
        transform: perspective(1000px) rotateY(60deg);
    }
    40% {
        transform: perspective(1000px) rotateY(0);
    }
    100% {
        transform: perspective(1000px) rotateY(0);
    }
}
@keyframes right {
    0% {
        transform: perspective(1000px) rotateY(0);
    }
    20% {
        transform: perspective(1000px) rotateY(-60deg);
    }
    40% {
        transform: perspective(1000px) rotateY(0);
    }
    100% {
        transform: perspective(1000px) rotateY(0);
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    animation: pulse-animation 3s 1.5s infinite;
}
#title {
    opacity: 0;
    display: none;
    position: absolute;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h2 {
    color: white;
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
    margin-left: 2.5vw;
}
background {
    z-index: -2;
    background-image: radial-gradient(circle at center bottom, rgb(100, 100, 100) 0%, rgb(20, 5, 60) 60%,  rgb(10, 5, 15)100%);
    position: fixed;
    width: 100dvw;
    height: 150dvh;
    opacity: 0;
}
#canvas {
    display: none;
    opacity: 0;
}
h3 {
    font-family: "IBM Plex Mono";
    color: white;
    margin: 2vh;
    margin-left: 2.5vw;
    font-weight: 300;
}
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 5vh rgba(255, 255, 255, 0);
    }
}
.icon {
    filter: brightness(0) invert(1);
    height: 5vh;
    margin-right: -1.5vh;
}
.buttonHolder {
    display: flex;
    flex-direction: row;
    margin-left: 2.5vw;
    align-items: center;
    justify-content: center;
}
.linkButton {
    height: 5vh;
    width: 5vh;
    border-radius: 3vh;
    border: 2px white solid;
    margin: 0 0.5vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: width 0.5s;
    cursor: pointer;
}
.linkButton:hover {
    width: 20vh;
    transition: width 0.5s;
}
h1 {
    color: white;
    font-family: "IBM Plex Mono";
    font-size: 2vh;
    margin: auto;
    opacity: 0;
    transition: opacity 0.25s;
}
.linkButton:hover>h1 {
    opacity: 1;
    transition: opacity 0.25s;
    transition-delay: 0.25s;
}
.linkWrapper {
    text-decoration: none;
}
